{% extends "barra_menu.html" %}
{% block contenedor %}
<div class="container my-5">
    <h1 class="text-center text-success">TABLA SALIDA STOCK</h1>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered align-middle">
            <thead class="table-success text-center text-nowrap">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">USUARIO</th>
                    <th scope="col">NOMBRE .M</th>
                    <th scope="col">DESCRIPCION .M</th>
                    <th scope="col">CANTIDAD .M</th>
                    <th scope="col">OPCION 1</th>
                    <th scope="col">OPCION 2</th>
                </tr>
            </thead>
            <tbody>
                {% for x in salida_stock %}
                    <tr>
                        <td scope="row">{{ x.Id_Salida_Stock }}</td>
                        <td scope="row">{{ x.Fecha_Salida_Stock }}</td>
                        <td scope="row">{{ x.Usuario_Salida_Stock }}</td>
                        <td scope="row">{{ x.Nombre_Salida_Stock }}</td>
                        <td scope="row">{{ x.Descripcion_Salida_Stock }}</td>
                        <td scope="row">{{ x.Cantidad_Salida_Stock }}</td>
                        <td scope="row"><a href="logica_eliminar_salida_stock/{{ x.Id_Salida_Stock }}" class="btn btn-danger btn-sm w-100">ELIMINAR</a></td>
                        <td scope="row"><a href="enlace_actualizar_salida_stock/{{ x.Id_Salida_Stock }}" class="btn btn-warning btn-sm w-100">EDITAR</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenedor %}
